 <!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>[[${pageTitle}]] - [[${SITE_NAME}]]</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  	<link rel="stylesheet" th:href="@{/fontawesome/all.css}" />
  	<link rel="stylesheet" th:href="@{/style.css}" />	
</head>
<body>
<div th:fragment="header_menu">
	<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
		<a class="navbar-brand" th:href="@{/}">
			<img th:src="@{${SITE_LOGO}}" />
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar, #searchNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="topNavbar">
			<ul class="navbar-nav">				
				<li class="nav-item">
					<a class="nav-link" href="">Thanh toán</a>
				</li>				
				<li class="nav-item">
					<a class="nav-link" href="">Vận chuyển &amp; Giao hàng</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="">Tuyển dụng</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/dangnhap}">Đăng nhập</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/dangky}">Đăng ký</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="">Liên hệ để được hỗ trợ</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div th:fragment="search_nav" class="row">
	<div class="col-md">
		<th:block sec:authorize="isAuthenticated()">	
			<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
				<input type="submit" value="Logout" />
			</form>
		</th:block>	
		<nav class="navbar navbar-expand-sm bg-light">
			<div class="collapse navbar-collapse" id="searchNavbar">
				<form class="form-inline" th:action="@{/search}" method="get">
					<input type="search" name="keyword" class="form-control mr-sm-2"
						th:value="${keyword}" 
						placeholder="keyword" required />
					<input type="submit" value="Search" class="btn btn-outline-success" />
				</form>
				<ul class="navbar-nav">						
					<th:block sec:authorize="isAuthenticated()">
					<li class="nav-item">
							<a class="nav-link" th:href="@{/khachhang}"><b>[[${#request.userPrincipal.principal.hoTen}]]</b></a>
					</li>
					<li class="nav-item">
						<a class="nav-link">Địa chỉ</a>
					</li>						
					<li class="nav-item">
						<a class="nav-link">Câu hỏi</a>
					</li>
					<li class="nav-item">
						<a class="nav-link">Reviews</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/khachhang/donhang}">Đơn hàng</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/giohang}">Giỏ hàng</a>
					</li>
					</th:block>
					<th:block sec:authorize="isAuthenticated()">
						<li class="nav-item">
							<a class="nav-link" href="javascript: document.logoutForm.submit()">Đăng xuất</a>
						</li>					
					</th:block>						
				</ul>
			</div>
		</nav>
	</div>
</div>

<div th:fragment="deliver_date(date)" th:remove="tag">
	<span th:text="${#dates.format(date, 'E, dd MMM yyyy')}">Deliver date</span>
</div>

<div th:fragment="format_time(dateTime)" th:remove="tag">
	<span th:text="${#dates.format(dateTime, 'yyyy-MM-dd HH:mm:ss')}">Date Time</span>
</div>
<div th:fragment="discountPrice" th:remove="tag">
	<span th:style="${product.discountPercent > 0 ? 'font-size: larger; color: darkred' : ''}">				
		<span th:if="${CURRENCY_SYMBOL_POSITION == 'before'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>[[${#numbers.formatDecimal(product.discountPrice, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]<span th:if="${CURRENCY_SYMBOL_POSITION == 'after'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
	</span>
</div>

<div th:fragment="listPrice" th:remove="tag">
	<del>
		<span th:if="${CURRENCY_SYMBOL_POSITION == 'before'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>[[${#numbers.formatDecimal(product.price, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]<span th:if="${CURRENCY_SYMBOL_POSITION == 'after'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
	</del>	
</div>

<div th:fragment="currency_format(amount)" th:remove="tag">
	<span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
	[[${#numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]
	<span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
</div>
<div th:fragment="currency_input(amount)" th:remove="tag">
	<input type="text" readonly class="form-control" th:value="${(currencySymbolPosition == 'before' ? currencySymbol : '') + 
	#numbers.formatDecimal(amount, 1, thousandsPointType, decimalDigits, decimalPointType) + 
	(currencySymbolPosition == 'after' ? currencySymbol : '')}">
</div>	
<div th:fragment="footer_menu">
	<div>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bottomNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="bottomNavbar">
				<ul class="navbar-nav">				
					<li class="nav-item">
						<a class="nav-link" href="">Về chúng tôi</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="">Thông báo về quyền riêng tư</a>
					</li>				
					<li class="nav-item">
						<a class="nav-link" href="">Trả hàng &amp; Hoàn tiền</a>
					</li>
				</ul>
			</div>		
		</nav>
	</div>
	<div th:fragment="footer" class="text-center m-3">
		<p>[[${COPYRIGHT}]]</p>
	</div>	
</div>
<div th:fragment="standard_modal" class="modal fade text-center" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modalTitle">Cảnh báo</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
	
			<div class="modal-body">
				<span id="modalBody"></span>
			</div>
	
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>
<div th:fragment="search_form_and_message(url)" th:remove="tag">
		<div>
			<form th:action="@{${url}}" class="form-inline m-3">
				<input type="hidden" name="sortField" th:value="${sortField}" />
				<input type="hidden" name="sortDir" th:value="${sortDir}" />
				Lọc đơn hàng: &nbsp;<input type="search" name="keyword" th:value="${keyword}" class="form-control" placeholder="Keyword" required />
				&nbsp;&nbsp;
				<input type="submit" value="Tìm kiếm" class="btn btn-primary" />
				&nbsp;&nbsp;
				<input type="button" value="Xóa" class="btn btn-secondary" onclick="clearFilter()" />
			</form>
		</div>
		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]
		</div>	
</div>
<div th:fragment="pagination(itemName, baseURL)" th:remove="tag">		
	<div class="text-center m-1" th:if="${totalItems > 0}">
		<span>Hiển thị [[${itemName}]] # [[${startCount}]] từ [[${endCount}]] tới [[${totalItems}]]</span>
	</div>
	<div class="text-center m-1" th:unless="${totalItems > 0}">
		<span>Không tìm thấy</span>
	</div>
			
<div th:if="${totalPages > 1}" th:with="pageUrlPostfix = '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}">
		<nav>
			 <ul class="pagination justify-content-center flex-wrap" th:with="pageUrlPrefix = '/' + ${baseURL} + '/page/'">
				<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
					<a th:href="@{${pageUrlPrefix} + '1' + ${pageUrlPostfix}}" class="page-link">Đầu tiên</a>	
				</li>
				<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
					<a th:href="@{${pageUrlPrefix} + ${currentPage - 1} + ${pageUrlPostfix}}" class="page-link">Trước</a>
				</li>
				<li th:each="i: ${#numbers.sequence(1, totalPages)}" th:class="${currentPage != i ? 'page-item' : 'page-item active'}">
					<a th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
				</li>
				<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
					<a th:href="@{${pageUrlPrefix} + ${currentPage + 1} + ${pageUrlPostfix}}" class="page-link">Kế tiếp</a>
				</li>
				<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
					<a th:href="@{${pageUrlPrefix} + ${totalPages} + ${pageUrlPostfix}}" class="page-link">Cuối cùng</a>
				</li>
			</ul>
		</nav>
	</div>	
</div>			
</body>
</html> 